[Desktop Entry]
Encoding=UTF-8
Name=GNU Smalltalk
Comment=Smalltalk interpreter
Comment[pl]=Interpreter smalltalka
Exec=gst -q -
Terminal=true
Type=Application
Icon=smalltalk.png
Categories=GTK;Development;Building;
# vi: encoding=utf-8
